
 
<div class = "wrapper">
    <div class = "nav">
    <div class = "logo">
  
    ICEP
    </div>
    <div class = "menu">
    <ul>
      <li><a href="#">Services</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">About Us</a></li>    
      <li><a href="#">Apply</a></li>
    </ul>
    </div>
    </div>

    <div class = header>
      <h1>INFORMATICS COMMUNITY ENGAGEMENT PROGRAMME</h1>
      <p>We are the new future</p>
    </div>
    

   

     
  